* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: aglet-mono;
    font-weight: 400;
    color: white;

    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.entry-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: black;
    overflow: hidden;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 45%;
    background-repeat: no-repeat;

    z-index: 1;
    /* THIS IS THE THING THAT I TURNED FROM 1 TO 0 TO ALLOW TO HOVER OVER THE QUESTION MARK!!!! */

    transition: all .6s ease-in-out;
}

.gradient:hover {
    cursor: pointer;
}

.gradient-one {
    top: 0;
    background-position: 0 -50vh;
}

.gradient-one:hover {
    background-position: 0 0;
}

.gradient-one-a {
    background:
        linear-gradient(to bottom, rgba(255, 47, 210, 1), rgba(255, 47, 210, 0)) no-repeat,
        linear-gradient(to bottom, rgba(47, 68, 255, 1) 20%, rgba(47, 68, 255, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-one-b {
    background:
        linear-gradient(to bottom, rgba(47, 68, 255, 1), rgba(47, 68, 255, 0)) no-repeat,
        linear-gradient(to bottom, rgba(128, 0, 255, 1), rgba(128, 0, 255, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-one-c {
    background:
        linear-gradient(to bottom, rgba(220, 0, 0, 1), rgba(220, 0, 0, 0)) no-repeat,
        linear-gradient(to bottom, rgba(250, 0, 255, 1), rgba(250, 0, 255, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-one-d {
    background:
        linear-gradient(to bottom, rgba(255, 234, 47, 1), rgba(255, 234, 47, 0)) no-repeat,
        linear-gradient(to bottom, rgba(255, 61, 0, 1), rgba(255, 61, 0, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-one-e {
    background:
        linear-gradient(to bottom, rgba(255, 47, 234, 1), rgba(255, 47, 234, 0)) no-repeat,
        linear-gradient(to bottom, rgba(128, 0, 255, 1), rgba(128, 0, 255, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-two {
    bottom: 0;
    background-position: 0 50vh;
}

.gradient-two:hover {
    background-position: 0 0;
}

.gradient-two-a {
    background:
        linear-gradient(to top, rgba(48, 128, 146, 1), rgba(48, 128, 146, 0)) no-repeat,
        linear-gradient(to top, rgba(20, 255, 156, 1), rgba(20, 255, 156, 0)) no-repeat;
    background-position: 0 50vh;
}

.gradient-two-b {
    background:
        linear-gradient(to top, rgba(209, 0, 0, 1), rgba(209, 0, 0, 0)) no-repeat,
        linear-gradient(to top, rgba(255, 133, 20, 1), rgba(255, 133, 20, 0)) no-repeat;
    background-position: 0 50vh;
}

.gradient-two-c {
    background:
        linear-gradient(to top, rgba(0, 224, 103, 1), rgba(0, 224, 103, 0)) no-repeat,
        linear-gradient(to top, rgba(0, 187, 176, 1), rgba(0, 187, 176, 0)) no-repeat;
    background-position: 0 50vh;
}

.gradient-two-d {
    background:
        linear-gradient(to top, rgba(173, 15, 199, 1), rgba(173, 15, 199, 0)) no-repeat,
        linear-gradient(to top, rgba(255, 0, 77, 1), rgba(255, 0, 77, 0)) no-repeat;
    background-position: 0 50vh;
}

.gradient-two-e {
    background:
        linear-gradient(to top, rgba(20, 255, 227, 1), rgba(20, 255, 227, 0)) no-repeat,
        linear-gradient(to top, rgba(0, 58, 209, 1), rgba(0, 58, 209, 0)) no-repeat;
    background-position: 0 50vh;
}

.entry-content-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
}

.answer-container {
    position: relative;
    width: 30%;
    min-width: 400px;
    max-width: 600px;

    pointer-events: none;
}

.answers {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    padding: 50px;
}

.answer {
    position: relative;
    width: 100%;
    z-index: 2;
    text-align: right;

    font-size: 1.5rem;

    transition: all .5s ease-in-out;
}

.answer-a {
    opacity: 0;
    top: -50px;
}

.answer-a-show {
    opacity: 1;
    top: 0;
}

.answer-b {
    align-self: flex-end;
    opacity: 0;
    top: 100px;
}

.answer-b-show {
    opacity: 1;
    top: 0;
}

.question-container {
    position: relative;
    width: 100%;

    padding: 100px;
}

.vertical-line {
    position: absolute;

    height: 0;
    width: .1px;

    border-right: 2px white solid;

    left: 100px;
    top: 50%;
    transform: translateY(-105px);

    transition: all .5s ease-in-out;
}

.vertical-line-active {
    height: 210px;
}

.question {
    font-family: mono45-headline;
    font-weight: 500;
    font-size: 4rem;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;

    min-width: 300px;
    max-width: 450px;

    opacity: 0;

    transition: all .8s ease-in-out;
}

.question-show {
    opacity: 1;
    left: 150px;
}

.question-hide {
    opacity: 0;
    left: 300px;
}

.info {
    position: absolute;
    top: 90px;
    left: 344px;
    width: 16px;
    height: 16px;
    border-radius: 100%;

    background-color: white;
    z-index: 3;
}

/* .popup {
    position: relative;
    width: 300px;
    font-size: .8rem;
    z-index: 4;

    opacity: 0;
    left: -80px;
    bottom: 150px;

    background-color: white;
    padding: 20px;
    color: black;

    transition: all .3s ease-in-out;
}

.info:hover .popup {
    opacity: 1;
    bottom: 200px;
}

.popup > a {
    color: black;
} */

.info-mark {
    position: absolute;
    z-index: 4;

    color: black;
    font-size: .8rem;
    font-weight: 900;

    left: 4px;
    top: -32px;
}

.ellipsis {
    letter-spacing: -20px;
}

/* INDEX STYLING */
.part-two-container {
    /* display: flex; */
    /* flex-flow: row nowrap; */
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.nav {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    transition: all 1s ease-in-out;
}

.nav-transition {
    left: calc(-100% + 100px);
}

.project-description {
    position: relative;
    padding: 50px;
    /* overflow: scroll; */
}

.project-description-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-family: mono45-headline;
    font-size: 6rem;
    line-height: 5rem;
    margin-bottom: 50px;
}

.tag-answer {
    margin: 5px 5px;
    padding: 7px 12px;

    font-weight: 700;

    border-radius: 4px;
}

.tag-story {
    background-color: #2F44FF;
}

.tag-challenge {

}

.tag-fight {
    background-color: #DC0000;
}

.tag-explore {

}

.project-description p {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.list-container {
    background-color: rgb(20,20,20);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    width: 20%;
    min-width: 480px;
    /* overflow: scroll; */
}

.nav-list {
    position: relative;
    list-style: none;
    line-height: 2.5rem;

    top: 50%;
    transform: translateY(-50%);
    /* border: 1px white solid; */
    margin: auto;
    padding: 80px;

    width: 100%;
    /* width: 20%;
    min-width: 480px; */
}

.nav-list a {
    text-decoration: none;
}

.nav-list a li {
    /* color: rgb(220, 220, 220); */
    cursor: pointer;
}

.nav-list a:hover li {
    font-weight: 900;
}

.tag-top-pick {
    position: relative;
    font-size: .7rem;
    padding: 2px 5px;
    border: 1px solid white;
    margin-left: 15px;
    top: -2px;

    background-color: white;
    color: black;
}

.nav-controls-container {
    width: 100px;
    min-width: 100px;
    height: 100%;

    background-image: linear-gradient(to bottom, rgba(34,34,34, 1), rgba(34,34,34, .5));

    display: flex;
    flex-flow: row wrap;
}

.nav-controls-container img {
    transition: all .3s ease-in-out;
}

.nav-controls-main:hover img {
    transform: rotate(0) translateX(-55%);
}

.nav-controls-main {
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.nav-controls-main > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: rotate(-180deg) translate(40%);
}

.game-container {
    position: relative;
    top: -100vh;
    left: 100vw;

    width: calc(100vw - 100px);
    height: 100vh;

    transition: all 1s ease-in-out;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.game-container-transition {
    left: 100px;
}

.game {
    position: relative;
    height: 100vh;
    width: 100%;
    /* max-width: 1300px; */
    padding: 50px 100px;
    overflow: scroll;

    scroll-snap-align: start;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

#ori-and-the-blind-forest {
    background-image: linear-gradient(to bottom, rgb(45, 90, 133), rgba(52, 75, 70, 0.3));
}

#hollow-knight {
    background-image: linear-gradient(to bottom, rgb(61, 47, 61), rgba(34, 25, 68, 0.3));
}

#guacamelee {
    background-image: linear-gradient(to bottom, rgb(136, 140, 92), rgba(68, 82, 69, 0.3));
}

#steamworld-dig-2 {
    background-image: linear-gradient(to bottom, rgb(189, 124, 67), rgba(54, 56, 43, 0.3));
}

#axiom-verge {
    background-image: linear-gradient(to bottom, rgb(102, 16, 83), rgba(46, 36, 36, 0.3));
}

#dead-cells {
    background-image: linear-gradient(to bottom, rgb(16, 82, 102), rgba(102, 16, 88, 0.5));
}

#owlboy {
    background-image: linear-gradient(to bottom, rgb(32, 95, 59), rgba(32, 50, 95, 0.5));
}

#iconoclasts {
    background-image: linear-gradient(to bottom, rgb(94, 56, 109), rgba(94, 56, 109, .3));
}

#chasm {
    background-image: linear-gradient(to bottom, rgb(210, 119, 149), rgba(82, 113, 116, 0.5));
}

#shantae-riskys-revenge {
    background-image: linear-gradient(to bottom, rgb(112, 32, 32), rgba(112, 80, 32, 0.3));
}

#supraland {
    background-image: linear-gradient(to bottom, rgb(70, 26, 57), rgba(55, 19, 46, 0.3));
}

#phoenotopia-awakening {
    background-image: linear-gradient(to bottom, rgb(39, 72, 107), rgba(73, 32, 112, 0.3));
}

#a-robot-named-fight {
    background-image: linear-gradient(to bottom, rgb(160, 47, 77), rgba(140, 14, 14, 0.3));
}

#timespinner {
    background-image: linear-gradient(to bottom, rgb(68, 42, 77), rgba(43, 37, 78, 0.3));
}

#salt-and-sanctuary {
    background-image: linear-gradient(to bottom, rgb(53, 53, 57), rgba(59, 55, 62, 0.3));
}

#bloodstained-ritual-of-the-night {
    background-image: linear-gradient(to bottom, rgb(58, 31, 31), rgba(78, 37, 70, 0.3));
}

#vigil-the-longest-night {
    background-image: linear-gradient(to bottom, rgb(68, 42, 77), rgba(43, 37, 78, 0.3));
}

iframe {
    margin-bottom: 100px;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,.2);
}

h3 {
    font-size: 1.3rem;
    font-weight: 400;

    margin-bottom: 20px;
}

h2 {
    font-family: mono45-headline;
    font-size: 6rem;
    line-height: 5rem;

    max-width: 1100px;
}

.tag-container {
    max-width: 1100px;
    margin: 30px -5px 40px -5px;

    display: flex;
    flex-flow: row wrap;
}

.tag-container  a {
    text-decoration: none;
}

.tag {
    margin: 5px 5px;
    padding: 7px 12px;

    font-weight: 700;

    border: 1px solid black;
    border-radius: 4px;

    transition: all .3s ease-in-out;
}

.tag:hover {
    border: 1px solid white;
}

.tag-xbox-360, .tag-xbox-one {
    background-color: #309251;
}

.tag-ps3, .tag-ps4, .tag-ps-vita {
    background-color: #2B4EA9;
}

.tag-switch, .tag-wii-u, .tag-3ds {
    background-color: #DB5C5C;
}

.tag-windows, .tag-macOS, .tag-linux {
    background-color: #484848;
}

.tag-ios {
    background-color: rgb(29, 122, 222);
}

.tag-android {
    background-color: rgb(65, 168, 111);
}

.game-description > * {
    font-size: 1.3rem;
    margin-bottom: 15px;
    max-width: 1100px;
}