* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: aglet-mono;
    font-weight: 400;
    color: white;

    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.entry-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: black;
    overflow: hidden;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 45%;
    background-repeat: no-repeat;

    z-index: 1;
    /* THIS IS THE THING THAT I TURNED FROM 1 TO 0 TO ALLOW TO HOVER OVER THE QUESTION MARK!!!! */

    transition: all .6s ease-in-out;
}

.gradient:hover {
    cursor: pointer;
}

.gradient-one {
    top: 0;
    background-position: 0 -50vh;
}

.gradient-one:hover {
    background-position: 0 0;
}

.gradient-one-a {
    background:
        linear-gradient(to bottom, rgba(255, 47, 210, 1), rgba(255, 47, 210, 0)) no-repeat,
        linear-gradient(to bottom, rgba(47, 68, 255, 1) 20%, rgba(47, 68, 255, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-one-b {
    background:
        linear-gradient(to bottom, rgba(47, 68, 255, 1), rgba(47, 68, 255, 0)) no-repeat,
        linear-gradient(to bottom, rgba(128, 0, 255, 1), rgba(128, 0, 255, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-one-c {
    background:
        linear-gradient(to bottom, rgba(220, 0, 0, 1), rgba(220, 0, 0, 0)) no-repeat,
        linear-gradient(to bottom, rgba(250, 0, 255, 1), rgba(250, 0, 255, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-one-d {
    background:
        linear-gradient(to bottom, rgba(255, 234, 47, 1), rgba(255, 234, 47, 0)) no-repeat,
        linear-gradient(to bottom, rgba(255, 61, 0, 1), rgba(255, 61, 0, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-one-e {
    background:
        linear-gradient(to bottom, rgba(255, 47, 234, 1), rgba(255, 47, 234, 0)) no-repeat,
        linear-gradient(to bottom, rgba(128, 0, 255, 1), rgba(128, 0, 255, 0)) no-repeat;
    background-position: 0 -50vh;
}

.gradient-two {
    bottom: 0;
    background-position: 0 50vh;
}

.gradient-two:hover {
    background-position: 0 0;
}

.gradient-two-a {
    background:
        linear-gradient(to top, rgba(48, 128, 146, 1), rgba(48, 128, 146, 0)) no-repeat,
        linear-gradient(to top, rgba(20, 255, 156, 1), rgba(20, 255, 156, 0)) no-repeat;
    background-position: 0 50vh;
}

.gradient-two-b {
    background:
        linear-gradient(to top, rgba(209, 0, 0, 1), rgba(209, 0, 0, 0)) no-repeat,
        linear-gradient(to top, rgba(255, 133, 20, 1), rgba(255, 133, 20, 0)) no-repeat;
    background-position: 0 50vh;
}

.gradient-two-c {
    background:
        linear-gradient(to top, rgba(0, 224, 103, 1), rgba(0, 224, 103, 0)) no-repeat,
        linear-gradient(to top, rgba(0, 187, 176, 1), rgba(0, 187, 176, 0)) no-repeat;
    background-position: 0 50vh;
}

.gradient-two-d {
    background:
        linear-gradient(to top, rgba(173, 15, 199, 1), rgba(173, 15, 199, 0)) no-repeat,
        linear-gradient(to top, rgba(255, 0, 77, 1), rgba(255, 0, 77, 0)) no-repeat;
    background-position: 0 50vh;
}

.gradient-two-e {
    background:
        linear-gradient(to top, rgba(20, 255, 227, 1), rgba(20, 255, 227, 0)) no-repeat,
        linear-gradient(to top, rgba(0, 58, 209, 1), rgba(0, 58, 209, 0)) no-repeat;
    background-position: 0 50vh;
}

.entry-content-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
}

.answer-container {
    position: relative;
    width: 30%;
    min-width: 400px;
    max-width: 600px;

    pointer-events: none;
}

.answers {
    position: absolute;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    height: 100%;

    padding: 50px;
}

.answer {
    position: relative;
    width: 100%;
    z-index: 2;

    font-size: 1.5rem;

    transition: all .5s ease-in-out;
}

.answer-a {
    opacity: 0;
    top: -50px;
}

.answer-a-show {
    opacity: 1;
    top: 0;
}

.answer-b {
    align-self: flex-end;
    opacity: 0;
    top: 100px;
}

.answer-b-show {
    opacity: 1;
    top: 0;
}

.question-container {
    position: relative;
    width: 100%;
}

.vertical-line {
    position: absolute;

    height: 0;
    width: .1px;

    border-right: 2px white solid;

    left: 0px;
    top: 50%;
    transform: translateY(-105px);

    transition: all .5s ease-in-out;
}

.vertical-line-active {
    height: 210px;
}

.question {
    font-family: mono45-headline;
    font-weight: 500;
    font-size: 4rem;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;

    min-width: 300px;
    max-width: 450px;

    opacity: 0;

    transition: all .8s ease-in-out;
}

.question-show {
    opacity: 1;
    left: 50px;
}

.question-hide {
    opacity: 0;
    left: 200px;
}

.info {
    position: absolute;
    top: 90px;
    left: 344px;
    width: 16px;
    height: 16px;
    border-radius: 100%;

    background-color: white;
    z-index: 3;
}

/* .popup {
    position: relative;
    width: 300px;
    font-size: .8rem;
    z-index: 4;

    opacity: 0;
    left: -80px;
    bottom: 150px;

    background-color: white;
    padding: 20px;
    color: black;

    transition: all .3s ease-in-out;
}

.info:hover .popup {
    opacity: 1;
    bottom: 200px;
}

.popup > a {
    color: black;
} */

.info-mark {
    position: absolute;
    z-index: 4;

    color: black;
    font-size: .8rem;
    font-weight: 900;

    left: 4px;
    top: 0;
}

.ellipsis {
    letter-spacing: -20px;
}

/* INDEX STYLING */
.part-two-container {
    /* display: flex; */
    /* flex-flow: row nowrap; */
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.nav {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    transition: all 1s ease-in-out;
}

.nav-transition {
    left: calc(-100% + 100px);
}

.nav-type-one {
    display: flex;
    flex-flow: row nowrap;

    height: 100%;

    /* THIS IS WHAT TOGGLES THE NAV TYPE */
    /* display: none; */
}

.nav-type-one-gradients {
    position: absolute;
    width: calc(100vw - 100px);
    height: 100vh;
    top: 0;
    left: 0;
}

.nav-type-one-gradient-top {
    position: absolute;
    width: 100%;
    height: 45vh;
    top: 0;

    background:
        linear-gradient(to bottom, rgba(255, 47, 210, 1), rgba(255, 47, 210, 0)) no-repeat,
        linear-gradient(to bottom, rgba(47, 68, 255, 1) 20%, rgba(47, 68, 255, 0)) no-repeat;
    background-position: 0 -50vh;

    cursor: pointer;

    transition: all .6s ease-in-out;
}

.nav-type-one-gradient-top:hover {
    background-position: 0 0;
}

.nav-type-one-gradient-bottom {
    position: absolute;
    width: 100%;
    height: 45vh;
    bottom: 0;

    background:
        linear-gradient(to top, rgba(48, 128, 146, 1), rgba(48, 128, 146, 0)) no-repeat,
        linear-gradient(to top, rgba(20, 255, 156, 1), rgba(20, 255, 156, 0)) no-repeat;
    background-position: 0 50vh;

    cursor: pointer;

    transition: all .6s ease-in-out;
}

.nav-type-one-gradient-bottom:hover {
    background-position: 0 0;;
}

.nav-adjacent-entries-container {
    position: relative;
    width: 30%;
    min-width: 400px;
    max-width: 600px;

    pointer-events: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    padding: 50px;
}

.nav-entry {
    font-size: 1.5rem;
}

.nav-top-entry {
    position: relative;
    top: 0px;
    opacity: 1;

    transition: all .5s ease-in-out;
}

.nav-top-entry-transition {
    top: -100px;
    opacity: 0;
}

.nav-bottom-entry {
    position: relative;
    top: 0px;
    opacity: 1;

    align-self: flex-end;

    transition: all .5s ease-in-out;
}

.nav-bottom-entry-transition {
    top: 100px;
    opacity: 0;
}

.nav-game-container {
    position: relative;
    width: 100%;

    pointer-events: none;
}

.nav-game {
    font-family: mono45-headline;
    font-weight: 500;
    font-size: 5rem;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    /* left: -60px; */
    opacity: 1;

    min-width: 300px;
    max-width: 450px;

    transition: all 1s ease-in-out;
}

.nav-game-transition {
    left: 100px;
    opacity: 0;
}

.nav-type-two {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    height: 100%;
    width: calc(100% - 100px);
}

.display-none {
    display: none;
}

.nav-type-two-content-container {
    align-self: center;
}

.nav-type-two-line {
    margin-bottom: 90px;
    width: 0;
    opacity: 0;

    transition: all .3s ease-in-out;
}

.nav-type-two-line-transition {
    width: 100%;
    opacity: 1;
}

.list-container {
    display: flex;
    flex-flow: row wrap;
}

.nav-list {
    position: relative;
    list-style: none;
    line-height: 2.5rem;

    top: 100px;
    opacity: 0;

    transition: all 1s ease-in-out;
}

.nav-list-transition {
    top: 0;
    opacity: 1;
}

.nav-list-left {
    margin-right: 100px;
}

.nav-list > li {
    color: rgb(220, 220, 220);
}

.nav-list > li:hover {
    font-weight: 900;
    cursor: pointer;
}

/* .list-item {
    position: relative;
    top: 50px;
    opacity: 0;

    transition: all .3s ease-in-out;
}

.list-item-transition {
    top: 0;
    opacity: 1;
} */

.nav-controls-container {
    width: 100px;
    height: 100%;

    background-image: linear-gradient(to bottom, rgba(34,34,34, 1), rgba(34,34,34, .5));

    display: flex;
    flex-flow: row wrap;
}

.nav-controls-container img {
    transition: all .3s ease-in-out;
}

.nav-controls-main:hover img {
    transform: rotate(0) translateX(-55%);
}

.nav-controls-main {
    width: 100%;
    height: calc(100% - 100px);

    cursor: pointer;
}

.nav-controls-main > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: rotate(-180deg) translate(40%);
}

.nav-controls-toggle {
    width: 100%;
    height: 100px;
    background-color: rgb(34, 34, 34);

    align-self: flex-end;

    cursor: pointer;
}

.nav-controls-toggle-circles-container {
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%); */

    display: flex;
    height: 100%;

    flex-flow: column wrap;
    justify-content: center;
}

.nav-controls-toggle-circles-row {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.nav-controls-toggle-circle {
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 100%;

    background-color: white;

    transition: all .3s ease-in-out;
}

.nav-controls-toggle:hover .nav-controls-toggle-circle {
    width: 11px;
    height: 11px;
    margin: 6px;
}

.game-container {
    position: relative;
    top: -100vh;
    left: 100vw;

    width: calc(100vw - 100px);
    height: 100vh;

    transition: all 1s ease-in-out;
}

.game-container-transition {
    left: 100px;
}

.game-section-container{
    width: 100%;
    max-width: 1300px;
    /* height: 100%; */

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    padding: 50px 100px;
}

iframe {
    margin-bottom: 100px;
}

h3 {
    font-size: 1.3rem;
    font-weight: 400;

    margin-bottom: 20px;
}

h2 {
    font-family: mono45-headline;
    font-size: 6rem;
    line-height: 5rem;
}

.tag-container {
    margin: 30px -5px 40px -5px;

    display: flex;
    flex-flow: row wrap;
}

.tag-container  a {
    text-decoration: none;
}

.tag {
    margin: 5px 5px;
    padding: 7px 12px;

    font-weight: 700;

    border: 1px solid black;
    border-radius: 4px;

    transition: all .3s ease-in-out;
}

.tag:hover {
    border: 1px solid white;
}

.tag-xbox-360, .tag-xbox-one {
    background-color: #309251;
}

.tag-ps3, .tag-ps4, .tag-ps-vita {
    background-color: #2B4EA9;
}

.tag-switch, .tag-wii-u, .tag-3ds {
    background-color: #DB5C5C;
}

.tag-windows, .tag-macOS, .tag-linux {
    background-color: #484848;
}

.tag-ios, .tag-android {
    background-color: rgb(86, 103, 40);
}

.game-description > * {
    font-size: 1.3rem;
    margin-bottom: 15px;
}